@model ProjectManager.Models.Project
 @using ProjectManager.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<form class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectTitle)
        @Html.TextBoxFor(m => m.ProjectTitle, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectDetails)
        @Html.TextAreaFor(m => m.ProjectDetails, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Task)
        @Html.TextAreaFor(m => m.Task, new { @class = "form-control" })
    </div> <div class="form-group">
        @Html.LabelFor(m => m.TaskHandler)
        @Html.TextBoxFor(m => m.TaskHandler, new { @class = "form-control" })
    </div> <div class="form-group">
    @Html.LabelFor(m => m.Status)
    @Html.DropDownListFor(m => m.Status,
                new SelectList(Enum.GetValues(typeof(StatusEnum))),
                "Status")
</div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>
</form>
