@model ProjectManager.ViewModels.CreateFormViewModel
@using ProjectManager.Models
@{
                /**/

                ViewBag.Title = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Project</h2>
@using (Html.BeginForm("Create", "Project"))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectTitle)
        @Html.TextBoxFor(m => m.ProjectTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectTitle)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectDetails)
        @Html.TextAreaFor(m => m.ProjectDetails, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectDetails)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Task)
        @Html.TextAreaFor(m => m.Task, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Task)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Date)
    </div> 
    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.DropDownListFor(m => m.Status, new SelectList(Model.Statuses, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Status)
    </div>
    <button type="submit" class="btn btn-primary">Create</button>

}
@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")

}

